<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="/css/style.css">
    <style>
        marquee{
                background-color: aqua;
                position: absolute;
                bottom: 200px;
                color:white;
                margin-right: 18px;
                padding: 5px;
                background-color: #5d88e7;
                border: 2px solid #0a07e9;
            }
    </style>
</head>
<body>
    <h1>{{>header}}</h1>
    <center><b><p>{{message}}</p></b></center>
    <br><br><br><br>
    <p>{{>footer}}</p>
</body>
</html>