<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="./img/favicon.png">
        <link rel="stylesheet" href="/css/style.css">
        <title>Home</title>
        
        <style>
            #search,#input{
                padding:7px 7px 7px 7px;
            }
            #input{
                border-top:none;
                border-left : none;
                border-right : none;
                font-weight: bolder;
                font-family:Arial, Helvetica, sans-serif ;
                font-size: 16px;
                border-bottom: 3px solid darkblue;
            }
            button:active{
                transform: translateY(2px);
            }
            button:hover{
                border: 2px solid blue;
                cursor: pointer;
            }
            #mes1{
                color:red;
                font-size: 18px;
            }
            #mes2{
                color:black;
                font-size: large;
                font-weight: bold;
            }
            marquee{
                background-color: aqua;
                position: absolute;
                top: 400px;
                color:white;
                margin-right: 18px;
                padding: 5px;
                background-color: #5d88e7;
                border: 2px solid #0a07e9;
            }
        </style>
    </head>
    <body>
        <h1>{{>header}}</h1>
        <center><b><p style="color:blueviolet;font-size:20px;">Use site for Find Weather for the location</p></b>
        <form>
            <input type="text" id="input" placeholder="Enter Location" size=25% autocomplete="off" required>
            <button id="search"><b>Search</b></button>
        </form>
        <p id="mes1"></p>
        <p id="mes2"></p>
        <table>
            <tr>
                <td id="mes3"></td>
            </tr>
            <tr>
                <td id="mes4"></td>
            </tr>
            <tr>
                <td id="mes5"></td>
            </tr>
            <tr>
                <td id="mes6"></td>
            </tr>
        </table>
        </center>
        
        <p id="footer">{{>footer}}</p>

        <script src="/js/app.js"></script>
    </body>
</html>