{{!-- <script src="/js/app.js"></script> --}}
<style>
    .center{
        text-align: center;
    }
    .center a{
        color: black;
        padding-right: 10px;
        text-decoration: none;
        font-size: 20px;
        font-weight: bold;
    }
    .center a:hover{
        opacity: 0.6;
        border-bottom: 2px solid blue;
    }
    body{
        font-family: Arial, Helvetica, sans-serif;
        background: linear-gradient(lightblue,rgb(44, 44, 250));
    }
</style>
<h1>{{title}}</h1>

<div class="center">
    <a href="/">Home</a>
    <a href="/about">About</a>
    <a href="/help">Help</a>
</div>